head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    script(src='script/libs/jquery.js')
    script(src="script/libs/popper.js")
    script(src="script/libs/bootstrap.js")
    link(rel="stylesheet", href="styles/libs/font-awesome.css")
    link(rel="stylesheet", href="styles/libs/bootstrap.css")