doctype html
html
    include ./includes/init.pug
        title= title
    body
        include ./includes/header.pug
        
        section
            div.test
                h1 Hello World
        
        include ./content/elements.pug
        

        include ./includes/footer.pug
        
